/** @format */

.container {
  width: 100%;
  height: 100%;
  margin-top: 24px;
}

.lobby {
  display: flex;
  width: 95%;
  max-width: 1200px;
  height: fit-content;
  margin: auto;
  border: 2px solid gray;
  flex-direction: row;
  font-weight: 600;
  justify-items: stretch;
}

.loading {
  width: 100%;
  font-size: 3rem;
  text-align: center;
  padding-top: 50px;
}
