.container {
    width: 1004px;
    margin: auto;
    border: 2px solid gray;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 70px;
}

.panel {
    width: 500px;
    height: 500px;
    border: 1px solid gray;
}

.sidebar {
    width: 30%;
    border: 1px solid gray;
}