/** @format */
.container {
  background-color: rgb(238, 238, 238);
}

.playerContainer:nth-child(2n) {
  background: rgb(248, 248, 248);
}

.status {
  display: flex;
  flex-direction: row;
  gap: 35px;
  align-items: center;
  color: white;
  font-size: 1.125rem;
}

.onlineBull {
  color: #00ff66;
  font-size: 1.2rem;
  padding-left: 10px;
}

.offlineBull {
  color: red;
  font-size: 1.2rem;
  padding-left: 10px;
}

.username {
  min-width: 200px;
}

.info {
  font-size: 1.1rem;
  margin-left: 20px;
}
