.status {
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
    color: white;
    font-size: 16px;
}

.onlineBull {
    color: #00ff66;
    font-size: 22px;
    padding-left: 10px;
}

.offlineBull {
    color: red;
    font-size: 22px;
    padding-left: 10px;
}

.username {
    min-width: 200px;
}

.info {
    font-size: 11px;
}